In [1]:
#1. Write a program to reverse a string.

In [5]:
a = ("ajir srivastava")
print(a[::-1])

avatsavirs rija

In [8]:
#2. Check if a string is a palindrome.

In [ ]:
string = "GeekforGeeks!"
vowels = "aeiouAEIOU"
 
count = sum(string.count(vowel) for vowel in vowels)
print(count)

In [ ]:
#3. Convert a string to uppercase.

In [11]:
b = "my name is ajir srivastava"
b.lower()

'my name is ajir srivastava'

In [ ]:
#4. Convert a string to lowercase.

In [12]:
c = "my name is bittu srivastava"
c.upper()

'MY NAME IS BITTU SRIVASTAVA'

In [19]:
#5. Count the number of vowels in a string.

In [21]:
string = "pwskills data science"
vowels = "aeiouAEIOU"
 
count = sum(string.count(vowel) for vowel in vowels)
print(count)

6

In [22]:
# 7.Remove all whitespaces from a string.

In [32]:
def remove_whitespace(s):
    return s.replace(" ", "")

# Example usage:
input_string = "Hello, World!"
result = remove_whitespace(input_string)

print(f"The string with whitespace removed: '{result}'")

The string with whitespace removed: 'Hello,World!'

In [33]:
#8. Find the length of a string without using the `len()` function.

In [34]:
def string_length(s):
    count = 0
    for _ in s:
        count += 1
    return count

# Example usage:
input_string = "Hello, World!"
result = string_length(input_string)

print(f"The length of the string is {result}.")

The length of the string is 13.

In [35]:
#9. Check if a string contains a specific word.

In [42]:
q = "what are you doing"
q.find("a")

2

In [37]:
#10. Replace a word in a string with another word.

In [47]:
e = "ajir "
e.replace('a','r')

'rjir '

In [8]:
#12. Find the first occurrence of a word in a string

In [9]:
aj = "ajir srivastava using pw lab"

In [13]:
aj.find("a")

0

In [ ]:
#13.Find the last occurrence of a word in a string

In [14]:
an = "ajir srivastava using pw lab"
an.find("r")

3

In [1]:
#14. Split a string into a list of words

In [2]:
def split_string_into_words(text):
    words_list = text.split()
    return words_list

text = "this is example"
words = split_string_into_words(text)
print("list of words:",words)

list of words: ['this', 'is', 'example']

In [15]:
#15. Join a list of words into a string

In [16]:
word_list = ["This", "is", "a", "list", "of", "words"]

# Join the words into a string using a space as the separator
result_string = " ".join(word_list)

print(result_string)

This is a list of words

In [ ]:
#16.convert a string where words are seprated by spaces to one where
#words are seprated by underscores

In [4]:
def convert_to_underscore_separated(text):
    
    underscore_separated = text.replace(" ", "_")

    
    return underscore_separated


text = "my name is ajir srivastava."
converted_text = convert_to_underscore_separated(text)
print("Converted text:", converted_text)

Converted text: my_name_is_ajir_srivastava.

In [ ]:
#check if the string  where words are seprated by spaces to one where words are seprated by underscores

In [12]:
def starts_with(text,prefix):
    is_start = text.startswith(prefix)
    return is_start
text = "hello, ajir!"
prefix = "hello"
result = starts_with(text,prefix)
if result:
    print("the text start with the prefix")
else:
    print("the text does not start with the prefix")

the text start with the prefix

In [17]:
#17.Convert a string to title case (e.g., "hello world" to "Hello World")

In [13]:
def convert_to_underscore_separated(text):
    # Step 1: Use the replace() method to replace spaces with underscores.
    underscore_separated = text.replace(" ", "_")

    # Step 2: Return the converted string.
    return underscore_separated

# Example usage
text = "This is an example sentence."
converted_text = convert_to_underscore_separated(text)
print("Converted text:", converted_text)

Converted text: This_is_an_example_sentence.

In [ ]:
#18.check if a string ends with a specific word or phrase.

In [14]:
def ends_with(text, suffix):
    # Step 1: Use the endswith() method to check if the text ends with the specified suffix.
    is_end = text.endswith(suffix)

    # Step 2: Return the result of the check.
    return is_end

# Example usage
text = "Hello, world!"
suffix = "world!"
result = ends_with(text, suffix)
if result:
    print("The text ends with the suffix.")
else:
    print("The text does not end with the suffix.")

The text ends with the suffix.

In [20]:
#19.Convert a string to title case (e.g., "hello world" to "Hello World")

In [16]:
def convert_to_title_case(text):
    # Step 1: Use the title() method to convert the text to title case.
    title_case_text = text.title()

    # Step 2: Return the converted text.
    return title_case_text

# Example usage
text = "hello world"
title_case_result = convert_to_title_case(text)
print("Title case:", title_case_result)

Title case: Hello World

In [ ]:
#20. Find the longest word in a string

In [18]:
def find_longest_word(text):
    words = text.split()
    longest_word = ""
    max_length = 0
    
    for word in words:
        if len(word)> max_length:
            max_length = len(word)
            longest_word = word
    return longest_word
text = "this is an apple with some long words"
longest_word = find_longest_word(text)
print("longest word",longest_word)

longest word apple

In [ ]:
#21.Find the shortest word in a string

In [20]:
def find_shortest_word(text):
    words = text.split()
    shortest_word = ""
    min_length = 0
    
    for word in words:
        if len(word)> min_length:
            min_length = len(word)
            shortest_word = word
    return shortest_word
text = "this is a boy with some long words"
shortest_word = find_shortest_word(text)
print("shortest word",shortest_word)

shortest word words

In [29]:
# Reverse the order of words in a string.

In [31]:
z1 = 'pwskills'
z1[::-1]

'sllikswp'

In [32]:
#23.Check if a string is alphanumeric.

In [21]:
def is_alphanumeric(text):
    # Step 1: Use the isalnum() method to check if the string is alphanumeric.
    return text.isalnum()

# Example usage
text = "Hello123"
result = is_alphanumeric(text)
if result:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

In [ ]:
#24. extract all digits from a string

In [22]:
def extract_digits(text):
    # Step 1: Initialize an empty string to store the extracted digits.
    digits = ""

    # Step 2: Iterate through each character in the text.
    for char in text:
        # Check if the character is a digit using the isdigit() method.
        if char.isdigit():
            # Append the digit to the digits string.
            digits += char

    # Step 3: Return the extracted digits.
    return digits

# Example usage
text = "Hello123World456"
extracted_digits = extract_digits(text)
print("Extracted digits:", extracted_digits)

Extracted digits: 123456

In [1]:
#25.Extract all alphabets from a string.

In [4]:
import re

def extract_alphabets(input_string):
    # Use regular expression to find all alphabets
    alphabets = re.findall(r'[a-zA-Z]', input_string)
    # Join the alphabets list into a single string
    result = ''.join(alphabets)
    return result

# Test the function with an input string
input_string = "Hello123 World!"
result = extract_alphabets(input_string)
print("Extracted alphabets:", result)

Extracted alphabets: HelloWorld

In [ ]:
#26.count the number of uppercase letters in string

In [23]:
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count

# Example input string
input_string = "HelloWORLD"
result = count_uppercase(input_string)
print(result)

6

In [24]:
#27.count the number of lowercase letters in a string.

In [25]:
def count_lowercase(input_string):
    lowercase_count = sum(1 for char in input_string if char.islower())
    return lowercase_count

# Example input string
input_string = "HelloWORLD"
result = count_lowercase(input_string)
print(result)

4

In [26]:
#28.swap the case of each character in a string

In [27]:
def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string
input_string = "HelloWORLD"
result = swap_case(input_string)
print(result)

hELLOworld

In [28]:
#29.remove a specific word from a string

In [29]:
def remove_word(input_string, word_to_remove):
    words = input_string.split()  # Split the input string into a list of words
    filtered_words = [word for word in words if word != word_to_remove]  # Create a new list excluding the word to remove
    modified_string = ' '.join(filtered_words)  # Join the filtered words back into a string
    return modified_string

# Example input string and word to remove
input_string = "Hello world, welcome to the world of programming."
word_to_remove = "world"
result = remove_word(input_string, word_to_remove)
print(result)

Hello world, welcome to the of programming.

In [30]:
#30. check if a string is a valid email address

In [31]:
import re  

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$' 
    if re.match(pattern, email):
        return True
    else:
        return False
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

In [ ]:
#31.  Extract the username from an email address string.

In [32]:
def extract_username(email):
    username = email.split('@')[0]  # Split the email address at "@" and take the first part
    return username

# Example email address
email = "example@email.com"
result = extract_username(email)
print(result)

example

In [ ]:
### 32. Extract the domain name from an email address string.

In [33]:
def extract_domain(email):
    domain = email.split('@')[1]  # Split the email address at "@" and take the second part
    return domain

# Example email address
email = "example@email.com"
result = extract_domain(email)
print(result)

email.com

In [ ]:
### 33. Replace multiple spaces in a string with a single space.

In [35]:
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())  # Split the string at spaces and then join using a single space
    return cleaned_string

# Example input string with multiple spaces
input_string = "Hello     world!   How   are   you?"
result = replace_multiple_spaces(input_string)
print(result)

Hello world! How are you?

In [ ]:
### 34. Check if a string is a valid URL.

In [36]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

In [ ]:
## 35. Extract the protocol (http or https) from a URL string.

In [39]:
def extract_protocol(url):
    
    protocol_end = url.find("://")

    if protocol_end != -1:
        
        protocol = url[:protocol_end]
        return protocol
    else:
        return None


url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [40]:
### 36. Find the frequency of each character in a string.

In [41]:
def character_frequency(input_string):
    frequency = {}  # Create an empty dictionary to store character frequencies

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  # Increment the frequency count if the character is already in the dictionary
        else:
            frequency[char] = 1   # Initialize the frequency count to 1 if the character is not in the dictionary

    return frequency

# Example string
input_str = "hello world"

# Calculate character frequencies
char_freq = character_frequency(input_str)

# Print character frequencies
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

In [ ]:
###37. Remove all punctuation from a string.

In [42]:
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    clean_string = input_string.translate(translator)

    return clean_string

# Example string with punctuation
input_str = "Hello, world! How's it going?"

# Remove punctuation
cleaned_str = remove_punctuation(input_str)

# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

In [ ]:
# 38. Check if a string contains only digits.

In [43]:
def contains_only_digits(input_string):
    # Check if all characters in the string are digits
    return input_string.isdigit()


string1 = "12345"
string2 = "Hello123"
string3 = "456.789"


result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)


print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'12345' contains only digits: True
'Hello123' contains only digits: False
'456.789' contains only digits: False

In [ ]:
# 39. Check if a string contains only alphabets.

In [44]:
def contains_only_alphabets(input_string):
    # Check if all characters in the string are alphabetic
    return input_string.isalpha()

# Example strings
string1 = "Hello"
string2 = "Hello123"
string3 = "12345"

# Check if strings contain only alphabets
result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)

# Print the results
print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'Hello' contains only alphabets: True
'Hello123' contains only alphabets: False
'12345' contains only alphabets: False

In [ ]:
# 40. Convert a string to a list of characters.

In [45]:
def string_to_list(input_string):
    # Use list() constructor to convert the string to a list of characters
    char_list = list(input_string)
    return char_list

# Example string
input_str = "Hello, world!"

# Convert the string to a list of characters
char_list = string_to_list(input_str)

# Print the list of characters
print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Hello, world!
List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [ ]:
#41. Check if two strings are anagrams.

In [48]:
def are_anagrams(str1, str2):
    # Remove spaces and convert strings to lowercase for accurate comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Sort the characters in both strings and compare
    return sorted(str1) == sorted(str2)

# Example strings
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

# Check if strings are anagrams
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

# Print the results
print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

In [ ]:
# 42. Encode a string using a Caesar cipher.

IndentationError: unexpected indent (3304733936.py, line 17)

In [51]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [ ]:
### 43. Decode a Caesar cipher encoded string.

In [52]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [ ]:
#44. Find the most frequent word in a string.

In [55]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]
    




    return most_common_word

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

In [ ]:
### 46. Count the number of syllables in a string.

In [56]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [ ]:
## 47. Check if a string contains any special characters.

In [57]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [ ]:
### 48. Remove the nth word from a string.

In [58]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [59]:
### 50. Convert a CSV string to a list of lists.

In [60]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [61]:
#list based practice problem

In [ ]:
# 1. Create a list with integers from 1 to 10.

In [62]:
integer_list = [i for i in range(1,11)]

print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
### 2. Find the length of a list without using the `len()` function.

In [63]:
def custom_len(input_list):
    count = 0
    for _ in input_list:
        count += 1
    return count

# Example list
my_list = [10, 20, 30, 40, 50]

# Find the length of the list using the custom_len function
length = custom_len(my_list)

# Print the length of the list
print("Length of the list:", length)

Length of the list: 5

In [64]:
s = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
lines = s.split("\n")

lst = []
for line in lines:
  field = line.split(",")
  lst.append(field)

for row in lst:
  print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [ ]:
### 3. Append an element to the end of a list.

In [65]:
# Example list
my_list = [10, 20, 30]

# Element to append
new_element = 40

# Append the new element to the end of the list
my_list.append(new_element)

# Print the updated list
print("Updated list:", my_list)

Updated list: [10, 20, 30, 40]

In [66]:
### 4. Insert an element at a specific index in a list.

In [67]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Element to insert
new_element = 25

# Index at which to insert the element
index_to_insert = 2

# Insert the new element at the specified index
my_list.insert(index_to_insert, new_element)

# Print the updated list
print("Updated list:", my_list)

Updated list: [10, 20, 25, 30, 40, 50]

In [ ]:
### 5. Remove an element from a list by its value.

In [68]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Element to remove
element_to_remove = 30

# Remove the element by its value
my_list.remove(element_to_remove)

# Print the updated list
print("Updated list:", my_list)

Updated list: [10, 20, 40, 50]

In [ ]:
### 6. Remove an element from a list by its index.

In [69]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Index of the element to remove
index_to_remove = 2

# Remove the element at the specified index
removed_element = my_list.pop(index_to_remove)

# Print the updated list and the removed element
print("Updated list:", my_list)
print("Removed element:", removed_element)

Updated list: [10, 20, 40, 50]
Removed element: 30

In [ ]:
### 7. Check if an element exists in a list.

In [70]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Element to check
element_to_check = 30

# Check if the element exists in the list
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

30 exists in the list.

In [ ]:
### 8. Find the index of the first occurrence of an element in a list.

In [71]:
# Example list
my_list = [10, 20, 30, 40, 50, 30]

# Element to find the index of
element_to_find = 30

# Find the index of the first occurrence of the element
index = my_list.index(element_to_find)

# Print the index
print(f"The index of {element_to_find} is {index}")

The index of 30 is 2

In [ ]:
### 9. Count the occurrences of an element in a list.

In [72]:
# Example list
my_list = [10, 20, 30, 40, 50, 30, 30]

# Element to count occurrences of
element_to_count = 30

# Count the occurrences of the element
count = my_list.count(element_to_count)

# Print the count
print(f"The element {element_to_count} occurs {count} times in the list.")

The element 30 occurs 3 times in the list.

In [ ]:
### 10. Reverse the order of elements in a list.

In [73]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Reverse the order of elements in the list
my_list.reverse()

# Print the reversed list
print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

In [74]:
### 11. Sort a list in ascending order.

In [75]:
my_list = [50,10,54,85,14,65]

my_list.sort()
print("sorted list in assending",my_list)

sorted list in assending [10, 14, 50, 54, 65, 85]

In [76]:
### 12. Sort a list in descending order.

In [77]:
my_list = [50,10,54,85,14,65]

my_list.sort(reverse=True)
print("sorted list in descending",my_list)

sorted list in descending [85, 65, 54, 50, 14, 10]

In [78]:
## 13. Create a list of even numbers from 1 to 20.

In [79]:
even_numbers = [x for x in range(2,11,2)]
print("list of even numbers ",even_numbers)

list of even numbers  [2, 4, 6, 8, 10]

In [ ]:
### 14. Create a list of odd numbers from 1 to 20.

In [83]:
odd_numbers = [x for x in range(1,21,2)]
print("list of odd numbers",odd_numbers)

list of odd numbers [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [84]:
### 15. Find the sum of all elements in a list.

In [85]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Calculate the sum of all elements in the list
total_sum = sum(my_list)

# Print the sum
print("Sum of elements:", total_sum)

Sum of elements: 150

In [86]:
### 16. Find the maximum value in a list.

In [87]:
my_list = [10,20,30,40,50,60,70]
max(my_list)

70

In [ ]:
### 17. Find the minimum value in a list.

In [89]:
my_list = [10,20,30,40,50,60,70]
min(my_list)

10

In [ ]:
### 18. Create a list of squares of numbers from 1 to 10.

In [91]:
squares = [x**2for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
### 19. Create a list of random numbers.

In [92]:
import random

# Create a list of random integers between 1 and 100
random_integers = [random.randint(1, 100) for _ in range(10)]

# Print the list of random integers
print("List of random integers:", random_integers)

List of random integers: [80, 40, 26, 49, 99, 75, 21, 88, 93, 99]

In [93]:
### 20. Remove duplicates from a list.

In [94]:
# Example list with duplicates
my_list = [10, 20, 30, 20, 40, 10, 50, 30]

# Remove duplicates by converting to a set and back to a list
unique_list = list(set(my_list))

# Print the list without duplicates
print("List without duplicates:", unique_list)

List without duplicates: [40, 10, 50, 20, 30]

In [98]:
#21.Find the common elements between two lists.
a = [30,40,50]
b = a
b

[30, 40, 50]

In [ ]:
#22.find the difference between two list

In [101]:
l1 = [10,20,30,40,50]
l2 = [30,40,50,60,70]
diff = list(set(l1).difference(l2))
print("difference between lists:",diff)

difference between lists: [20, 10]

In [ ]:
#23. merged two list

In [102]:
# Example lists
list1 = [10, 20, 30]
list2 = [40, 50, 60]

# Merge lists using the + operator
merged_list = list1 + list2

# Print the merged list
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60]

In [103]:
### 24. Multiply all elements in a list by 2.

In [104]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Multiply all elements by 2 using a list comprehension
multiplied_list = [x * 2 for x in my_list]

# Print the multiplied list
print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

In [ ]:
### 25. Filter out all even numbers from a list.

In [105]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_list = [x for x in original_list if x % 2 != 0]
print(filtered_list)

[1, 3, 5, 7, 9]

In [106]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_list = list(filter(lambda x: x % 2 != 0, original_list))
print(filtered_list)

[1, 3, 5, 7, 9]

In [ ]:
### 26. Convert a list of strings to a list of integers.

In [107]:
str_list = ['10','20','30','40','50']
int_list = [int(x)for x in str_list]
print(int_list)

[10, 20, 30, 40, 50]

In [ ]:
### 27. Convert a list of integers to a list of strings.

In [108]:
# Example list of integers
integer_list = [10, 20, 30, 40, 50]

# Convert list of integers to list of strings using a list comprehension
string_list = [str(x) for x in integer_list]

# Print the list of strings
print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

In [109]:
### 28. Flatten a nested list.

In [110]:
# Example nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
### 29. Create a list of the first 10 Fibonacci numbers.

In [111]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(2)

# Print the list of Fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1]

In [ ]:
### 30. Check if a list is sorted.
  
 # - Checking for ascending order

In [112]:
# Function to check if a list is sorted in ascending order
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

# Example list
ascending_list = [10, 20, 30, 40, 50]

# Check if the list is sorted in ascending order
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [1]:
### 31. Rotate a list to the left by `n` positions.

In [5]:
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

In [6]:
### 32. Rotate a list to the right by `n` positions.

In [7]:
def rotate_right(lst,n):
    n = n%len(lst)
    rotated = lst[-n:]+ lst[:-n]
    return rotated
my_list = [2,8,9,3,5]
n= 2
rotated_list = rotate_right(my_list,n)
print("Rotated list:",rotated_list)

Rotated list: [3, 5, 2, 8, 9]

In [ ]:
### 33. Create a list of prime numbers up to 50.

In [8]:
def is_prime(num):
    if num<=1:
        return False
    if num<=3:
        return True
    if num%2 == 0 or num%3==0:
        return False
    i =5
    while i*i<=num:
        print(i,num)
        if num%i==0 or num%(i+2)==0:
            return False
        i += 6
        return False
prime_numbers = [num for num in range(2,30) if is_prime(num)]

5 25
5 29

In [9]:
### 34. Split a list into chunks of size `n`.

In [10]:
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

# Create a list of prime numbers up to 50
prime_numbers = sieve_of_eratosthenes(50)

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [11]:
### 35. Find the second largest number in a list.

In [14]:
my_list = [10,20,30,40,50,60]
sorted_list = sorted(set(my_list))
if len(sorted_list)>=2:
    second_largest = sorted_list[-2]
    print("second largest number:",second_largest)
else:
    print("the list does not contain")

second largest number: 50

In [ ]:
### 36. Replace every element in a list with its square.

In [15]:
my_list = [2,4,6,8,10]
s = [x**2 for x in my_list]
print(s)

[4, 16, 36, 64, 100]

In [16]:
### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [17]:
l = ['apple','banana','mango','cherry']
my_dict = {element:index for index,element in enumerate(l)}
print(my_dict)

{'apple': 0, 'banana': 1, 'mango': 2, 'cherry': 3}

In [18]:
### 38. Shuffle the elements of a list randomly.

In [19]:
import random
my_list = [1,2,3,4,5]
random.shuffle(my_list)
print(my_list)

[4, 5, 3, 1, 2]

In [ ]:
### 39. Create a list of the first 10 factorial numbers.

In [20]:
def factorial(n):
    if n==0 or n == 1:
        return 1
    else:
        return n* factorial(n-1)
factorial_numbers = [factorial(i) for i in range(10)]
print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [21]:
### 40. Check if two lists have at least one element in common.

In [22]:
# Function to check if two lists have at least one element in common
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one element in common
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [24]:
l = [1,2,3,4,5]
l.clear()
print(l)

[]

In [25]:
### 42. Replace negative numbers in a list with 0.

In [26]:
my_list = [10, -25, 5 , -5, 5 , 78]
for i in range(len(my_list)):
    if my_list[i]<0:
        my_list[i]= 0
print(my_list)

[10, 0, 5, 0, 5, 78]

In [ ]:
### 43. Convert a string into a list of words.

In [27]:
str = "ajir srivastava"
l = str.split()
l

['ajir', 'srivastava']

In [ ]:
### 44. Convert a list of words into a string.

In [30]:
list1= ["Hello,", "this", "is", "a", "sample", "sentence."]
str1 = " ".join(list1)
print(str1)

Hello, this is a sample sentence.

In [1]:
### 45. Create a list of the first `n` powers of 2.

In [2]:
n = 5
power = [2** i for i in range(n)]
print(n,power)

5 [1, 2, 4, 8, 16]

In [3]:
### 46. Find the longest string in a list of strings.

In [5]:
a = ["apple","banana","cherry","date","elderberry"]
ls = ""
for s in a:
    if len(s)>len(ls):
        ls = s
        
        print("ls",ls)

ls apple
ls banana
ls elderberry

In [6]:
### 47. Find the shortest string in a list of strings.

In [12]:
# Example list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the shortest string in the list
shortest_string = string_list[0]  # Initialize with the first string
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: date

In [13]:
### 48. Create a list of the first `n` triangular numbers.

In [14]:
def triangular_numbers(n):
    return[i* (i+1)//2 for i in range(1,n+ 1)]
n = 5
triangular_list = triangular_numbers(n)
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [15]:
### 49. Check if a list contains another list as a subsequence.

In [16]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [ ]:
### 50. Swap two elements in a list by their indices.

In [18]:
my_list = [1,2,3,4,5,6]
ind1 = 1
ind2 = 3
temp = my_list[ind1]
my_list[ind1] = my_list[ind2]
my_list[ind2] = temp
print(my_list)

[1, 4, 3, 2, 5, 6]

In [19]:
####tuple BAsed practice problems########

In [20]:
### 1. Create a tuple with integers from 1 to 5.

In [2]:
t = (10,20,30,40,50)
te = t[4]
print(te)

50

In [3]:
### 2. Access the third element of a tuple.

In [4]:
t = (10,20,30,40,50)
third_element = t[3]
print(third_element)

40

In [5]:
### 3. Find the length of a tuple without using the `len()` function.

In [6]:
t = (10,20,30,40,50,60)
len(t)

6

In [7]:
### 4. Count the occurrences of an element in a tuple.

In [11]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 20, 40, 50, 20)

# Step 2: Choose the element to count occurrences of
element_to_count = 20

# Step 3: Initialize a variable to keep track of the count
count = 0

# Step 4: Iterate through the tuple and count occurrences of the chosen element
for item in my_tuple:
    if item == element_to_count:
        count += 1

# Step 5: Print the count of occurrences
print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 20 appears 3 times in the tuple.

In [ ]:
### 5. Find the index of the first occurrence of an element in a tuple.

In [13]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 20, 40, 50)

# Step 2: Choose the element to find the index of
element_to_find = 20

# Step 3: Initialize a variable to keep track of the index
index = -1  # Initialize with -1 to indicate that the element was not found

# Step 4: Iterate through the tuple and find the index of the chosen element
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  # Exit the loop once the first occurrence is found

# Step 5: Print the index of the first occurrence
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

In [14]:
### 6. Check if an element exists in a tuple.

In [16]:
t = (10,20,30,40,50)
element_to_check = 30
if element_to_check in t:
    print(f" {element_to_check}exists in the tuple")
else:
    print(f" {element_to_check} does not exists in the tuple")

 30exists in the tuple

In [17]:
### 7. Convert a tuple to a list.

In [19]:
t = (10,20,30,40,50)
list(t)

[10, 20, 30, 40, 50]

In [20]:
### 8. Convert a list to a tuple.

In [21]:
l = [10,20,30,40,50]
tuple(l)

(10, 20, 30, 40, 50)

In [22]:
### 9. Unpack the elements of a tuple into variables.

In [24]:
t = (10,20,30,40,50)
a,b,c,d,e = t
print("a",a)
print("b",b)
print("c",c)
print("d",d)
print("e",e)

a 10
b 20
c 30
d 40
e 50

In [25]:
### 10. Create a tuple of even numbers from 1 to 10.

In [26]:
t = [num for num in range(2,11,2)]
e = tuple(t)
t

[2, 4, 6, 8, 10]

In [27]:
### 11. Create a tuple of odd numbers from 1 to 10.

In [31]:
t = [num for num in range(1,11,2)]
e = tuple(t)
t

[1, 3, 5, 7, 9]

In [32]:
### 12. Concatenate two tuples.

In [36]:
t1 = (1,2,3)
t2 = (4,5,6)
t = t1+t2

t

(1, 2, 3, 4, 5, 6)

In [37]:
t = (1,2,3)
r = t*3
r

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [38]:
### 14. Check if a tuple is empty.

In [39]:
et  = ()
net = (1,2,3)
if not et:
    print("the empty tuple is empty.")
else:
    print("the empty tuple is not empty")
if not et:
    print("the non empty tuple is empty")
else:
    print("the non empty tuple is not empty")

the empty tuple is empty.
the non empty tuple is empty

In [40]:
### 15. Create a nested tuple.

In [41]:
nt = ((1,2,3),('a','b','c'),(True , False))
nt

((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [43]:
nt = ((1,2,3),('a','b','c'),(True , False))
nt[1]

('a', 'b', 'c')

In [44]:
### 17. Create a tuple with a single element.

In [45]:
t = (46,)
t

(46,)

In [46]:
### 18. Compare two tuples.

In [47]:
tuple1 = (1,2,3,4)
tuple2 = (5,6,7,8)
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [50]:
##19. delete a tuple

In [56]:
my_tuple = (1, 2, 3, 4, 5)

# Element you want to delete
element_to_delete = 3

# Create a new tuple without the specified element
new_tuple = tuple(item for item in my_tuple if item != element_to_delete)

print(new_tuple)

(1, 2, 4, 5)

In [57]:
### 20. Slice a tuple.

In [58]:
t = (1,2,3,4,5,6)
s = t[2:5]
s

(3, 4, 5)

In [ ]:
### 21. Find the maximum value in a tuple.

In [59]:
t = (10,20,30,40,50,60,70)
max(t)

70

In [60]:
### 22. Find the minimum value in a tuple.

In [61]:
t = (10,20,30,40,50,60,70)
min(t)

10

In [ ]:
### 23. Convert a string to a tuple of characters.

In [62]:
st = "ok google"
t = tuple(st)
t

('o', 'k', ' ', 'g', 'o', 'o', 'g', 'l', 'e')

In [ ]:
### 24. Convert a tuple of characters to a string.

In [65]:
t = ('o', 'k', ' ', 'g', 'o', 'o', 'g', 'l', 'e')
st = ''.join(t)
st

'ok google'

In [1]:
### 25. Create a tuple from multiple data types.

In [2]:
mt = (1,"hello",3.14,True)
print(mt)

(1, 'hello', 3.14, True)

In [4]:
### 26. Check if two tuples are identical.

In [5]:
t1 = (1,2,3)
t2 = (1,2,3)
t3 = (4,5,6)
aid1 = t1==t2
aid2 = t1==t3
print(aid1)
print(aid2)

True
False

In [6]:
### 27. Sort the elements of a tuple.

In [7]:
mt = (5,2,3,4,8)
st = tuple(sorted(mt))
print(st)

(2, 3, 4, 5, 8)

In [8]:
### 28. Convert a tuple of integers to a tuple of strings.

In [15]:
toi = (1,2,3,4,5)
tos = tuple(str(item) for item in toi)
print("tos:",tos)

tos: ('1', '2', '3', '4', '5')

In [16]:
### 30. Merge two tuples.

In [18]:
t1 = (1,2,3)
t2 = (4,5,6)
merged_tuple = t1+t2
merged_tuple

(1, 2, 3, 4, 5, 6)

In [19]:
### 31. Flatten a nested tuple.

In [20]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [21]:
### 32. Create a tuple of the first 5 prime numbers.

In [22]:
def is_prime(num):
    if num<=1:
        return False
    for i in range(2,int(num**0.5)+1):
        if num%i==0:
            return False
    return True
prime_numbers_list = [num for num in range(2,100)if is_prime(num)][:5]
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [24]:
### 33. Check if a tuple is a palindrome.

In [25]:
def is_palindrome(tup):
    return tup == tup[::-1]

# Create tuples for testing
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

# Print the results
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [26]:
### 35. Filter out all even numbers from a tuple.

In [33]:
ot = (1,2,3,4,5,6,7,8,9)
ft = tuple(filter(lambda x: x % 2 == 0, ot))
print("ft:",ft)

ft: (2, 4, 6, 8)

In [34]:
### 36. Multiply all elements in a tuple by 2.

In [36]:
t = (1,2,3,4,5)
dt = tuple(num*2 for num in t)
dt

(2, 4, 6, 8, 10)

In [41]:
import random
random_t = tuple(random.randint(1,10000) for _ in range(10))
random_t

(5850, 8675, 7340, 8154, 1751, 7517, 5270, 3813, 3498, 7732)

In [42]:
### 38. Check if a tuple is sorted.

In [43]:
# Function to check if a tuple is sorted
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [44]:
### 39. Rotate a tuple to the left by `n` positions.

In [45]:
def rtl(tup,n):
    

    n= n%len(tup)
    rt = tup[n:]+tup[n:]
    return rt

mt = (1,2,3,4,5,6)
n_positions = 2
r = rtl(mt,n_positions)
r

(3, 4, 5, 6, 3, 4, 5, 6)

In [46]:
### 40. Rotate a tuple to the right by `n` positions.

In [47]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [48]:
### 41. Create a tuple of the first 5 Fibonacci numbers.

In [49]:
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [ ]:
### 42. Create a tuple from user input.

In [56]:
t = (input("enter the value or number"))
i = t.split(',')
u = tuple(i)
u

enter the value or number ajir

('ajir',)

In [57]:
### 43. Swap two elements in a tuple.

In [58]:
t1 = (1,5,6,7)
t2 = (1,4,8,7)
a = t1
t1 = t2
t2 = a
t2

(1, 5, 6, 7)

In [ ]:
### 44. Reverse the elements of a tuple.

In [59]:
t1 = (1,5,6,7)
print(t1[::-1])

(7, 6, 5, 1)

In [60]:
### 45. Create a tuple of the first `n` powers of 2.

In [61]:
n = 5
p = tuple(2** i for i in range(n))
p

(1, 2, 4, 8, 16)

In [ ]:
### 46. Find the longest string in a tuple of strings.

In [62]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

In [63]:
### 47. Find the shortest string in a tuple of strings.

In [64]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

In [65]:
### 48. Create a tuple of the first `n` triangular numbers.

In [66]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [67]:
### 49. Check if a tuple contains another tuple as a subsequence.

In [68]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [69]:
### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [70]:
n = 10
at = tuple(i%2for i in range(n))
at

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [71]:
############ SET BASED QUESTIONS############

In [72]:
### 1. Create a set with integers from 1 to 5

In [74]:
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)
my_set

{1, 2, 3, 4, 5}

In [ ]:
### 2. Add an element to a set

In [78]:
my_set = {1,2,3}
print("original set:",my_set)
add = 6
my_set.add(add)
my_set

original set: {1, 2, 3}

{1, 2, 3, 6}

In [ ]:
### 3. Remove an element from a set.

In [80]:
a =  {1,2,3}
print(a)
b = 3
a.remove(b)
a

{1, 2, 3}

{1, 2}

In [3]:
### 4. Check if an element exists in a set.

In [4]:
my_set = {1,2,3,4,5}
ele_check = int(input("enter the element:"))
if ele_check in my_set:
    print(f"{ele_check}exist in the set")
else:
    print(f"{ele_check}does not exist in the set")

enter the element: 5

5exist in the set

In [ ]:
### 5. Find the length of a set without using the `len()` function

In [9]:
my_set= {1,2,3,4,5,6}
count = 0
for i in my_set :
    count+=1
print(count)

6

In [ ]:
### 6. Clear all elements from a set.

In [10]:
my_set = {1,2,3,4,5,6}
print(my_set)
my_set.clear()
print(my_set)

{1, 2, 3, 4, 5, 6}
set()

In [11]:
### 7. Create a set of even numbers from 1 to 10

In [13]:
my_set = set()
for num in range(1,11):
    
    if num%2==0:
        
        
        my_set.add(num)
print(my_set)

{2, 4, 6, 8, 10}

In [ ]:
### 8. Create a set of odd numbers from 1 to 10

In [15]:
my_set = set()
for num in range(1,11):
    
    if num%2!=0:
        
        
        my_set.add(num)
print(my_set)

{1, 3, 5, 7, 9}

In [ ]:
### 9. Find the union of two sets

In [17]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_result = set1.union(set2)

# Print the original sets and their union
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
### 10. Find the intersection of two sets

In [18]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
inter = set1.intersection(set2)
print(set1)
print(set2)
print(inter)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{4, 5}

In [ ]:
### 11. Find the difference between two sets.

In [19]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
diff = set1.difference(set2)
print(set1)
print(set2)
print(diff)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3}

In [ ]:
### 12. Check if a set is a subset of another set.

In [20]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
subset = set1.issubset(set2)
print(subset)

True

In [21]:
### 13. Check if a set is a superset of another set.

In [24]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}
superset = set1.issuperset(set2)
if superset:
    print("set1 is the superset of set2")
else:
    print("set1 is not superset of set2")

set1 is the superset of set2

In [25]:
### 14. Create a set from a list

In [29]:
l = [2,4,1,6,9,5]
my_set = set(l)
print(l)
print(my_set)

[2, 4, 1, 6, 9, 5]
{1, 2, 4, 5, 6, 9}

In [30]:
### 15. Convert a set to a list.

In [33]:
s = {1,2,3,4,5,6}
print(s)
list(s)

{1, 2, 3, 4, 5, 6}

[1, 2, 3, 4, 5, 6]

In [34]:
### 16. Remove a random element from a set.

In [38]:
import random
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
random = random.choice(list(my_set))
my_set.remove(random)
print("Updated set after removing", random, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 5 : {1, 2, 3, 4}

In [39]:
### 17. Pop an element from a set.

In [40]:
my_set = {1, 2, 3, 4, 5}

# Print the original set
print("Original set:", my_set)

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the element that was popped
print("Popped element:", popped_element)

# Print the set after popping an element
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

In [41]:
### 18. Check if two sets have no elements in common.

In [42]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

In [ ]:
### 19. Find the symmetric difference between two sets.

In [43]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
symm_diff = set1^set2
print(symm_diff)

{1, 2, 3, 6, 7, 8}

In [ ]:
### 20. Update a set with elements from another set.

In [48]:
set1 = {1,2,3,4,5,6,}
set2 ={6,7,8,9,10,11}
print(set1)
print(set2)
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}
{6, 7, 8, 9, 10, 11}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [ ]:
### 21. Create a set of the first 5 prime numbers.

In [53]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime = set()
while len(prime)<5:
    if is_prime(num):
        prime.add(num)
    num+=1
prime

{11, 13, 17, 19, 23}

In [54]:
### 22. Check if two sets are identical.

In [55]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  # The order of elements doesn't matter in sets

# Step 2: Check if the sets are identical using the `==` operator
# Sets are unordered collections, so the order of elements doesn't matter.
# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [56]:
### 23. Create a frozen set

In [57]:
# Step 2: Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [59]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
disjoint_status = set1.isdisjoint(set2)

# Step 3: Print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [ ]:
### 25. Create a set of squares of numbers from 1 to 5.

In [60]:
# Step 1: Create an empty set to store the squares of numbers
squares_set = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = num ** 2

    # Step 4: Add the square to the set
    squares_set.add(square)

# Step 5: Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

In [ ]:
### 26. Filter out all even numbers from a set.

In [61]:
# Step 1: Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Step 3: Iterate through each element in the original set
for num in original_set:
    # Step 4: Check if the current number is even (divisible by 2)
    if num % 2 == 0:
        # Step 5: If even, add it to the even_numbers_set
        even_numbers_set.add(num)

# Step 6: Print the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [ ]:
### 27. Multiply all elements in a set by 2.

In [62]:
original_set = {1, 2, 3, 4, 5}
multiplied_set = set()
for num in original_set:
    
    # Multiply the current element by 2
    multiplied_num = num * 2
    
    multiplied_set.add(multiplied_num)
print(original_set)
print(multiplied_set)

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}

In [63]:
## 28. create a set of random numbers

In [68]:
import random
r = 5
rn = set()
for i in range(r):
    random_number = random.randint(1,100)
    rn.add(random_number)
print(rn)

{72, 58, 14, 31}

In [69]:
### 29. Check if a set is empty.

In [70]:
# Step 1: Create a set (you can replace this with your own set)
my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [71]:
### 30. Create a nested set (hint: use frozenset).

In [72]:
# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [73]:
### 31.  Remove an element from a set using the discard method.

In [74]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [75]:
### 32. Compare two sets.

In [76]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [ ]:
### 33. Create a set from a string.

In [77]:
# Step 1: Define the input string
input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Step 3: Print the resulting set
print(char_set)

{'l', 'h', 'e', 'o'}

In [78]:
### 34. Convert a set of strings to a set of integers.

In [79]:
# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'123', '789', '456'}
Converted Integer Set: {456, 123, 789}

In [ ]:
### 36. Create a set from a tuple.

In [80]:
# Given tuple
input_tuple = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
output_set = set(input_tuple)
# At this point, the set() function is used to convert the elements of the tuple into a set.
# Since sets only contain unique elements, duplicate values are automatically removed.

# Step 2: Print the resulting set
print(output_set)
# The set is now printed, and it will only contain the unique elements from the original tuple.

{1, 2, 3, 4, 5}

In [81]:
### 37. Convert a set to a tuple.

In [82]:
# Step 1: Create a set
input_set = {1, 2, 3, 4, 5}

# Step 2: Convert the set to a tuple
output_tuple = tuple(input_set)

# Step 3: Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [ ]:
### 38. Find the maximum value in a set.

In [83]:
s = {1,2,3,4,5}
max(s)

5

In [84]:
### 39. find the minimum value of set

In [85]:
s = {1,2,3,4,5}
min(s)

1

In [86]:
### 40. Create a set from user input.

In [87]:
a = input("enter the sentence")
set(a)

enter the sentence i am a good boy

{' ', 'a', 'b', 'd', 'g', 'i', 'm', 'o', 'y'}

In [88]:
### 41. Check if the intersection of two sets is empty.

In [89]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [90]:
### 42. Create a set of the first 5 Fibonacci numbers.

In [91]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [92]:
### 43. Remove duplicates from a list using sets.

In [93]:
# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [94]:
### 44. Check if two sets have the same elements, regardless of their count.

In [95]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [96]:
### 45. Create a set of the first `n` powers of 2

In [97]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

In [98]:
### 46. Find the common elements between a set and a list.

In [99]:
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [ ]:
### 47. Create a set of the first `n` triangular numbers.:

In [102]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  10

The set of the first 10 triangular numbers is: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [103]:
### 48. Check if a set contains another set as a subset.

In [104]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [105]:
### 49. Create a set of alternating 1s and 0s of length `n`.

In [106]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

In [ ]:
### 50. Merge multiple sets into one.

In [108]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}